@import url('https://fonts.cdnfonts.com/css/vollkorn');
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-nav
{
    margin: 5px;
    padding: 15px;
    list-style: none;
    padding-left: 0;
    background-color: #0976b1
}

.main-nav__item
{
    display: inline-block;
}

.main-nav__item a
{
    color: white;
    padding: 6px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 23px;
}

main
{
   background-color: yellow;
   margin: 0;
   padding: 10px;
   font-size: 20px;
   font-family: 'Vollkorn Regular', sans-serif;
   font-family: 'Vollkorn Bold', sans-serif;
}
.main-nav__item a:hover
{
    color: black;
}

.main-nav__item a:active
{
    color:white
}

.main-nav__item a::after
{
    content: " | ";
}

